* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #000;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

[class*=__container] {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo img {
  width: 120px;
}
.header::after {
  content: "";
  position: absolute;
  top: 7%;
  left: calc(30% + 10px);
  transform: translateY(-50%);
  width: 107px;
  height: 89px;
  background-image: url(../img/triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-52%) rotate(-25deg);
}

.menu {
  display: flex;
  margin-left: auto;
  margin-right: 5vh;
}
.menu .menu__list {
  display: flex;
  gap: 20px;
}
.menu .menu__list a {
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 16px;
  color: #fff;
}
.menu .menu__list a:hover {
  color: #0ecfff;
}

.menu-icon {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 15vh;
  z-index: 1000;
}
.menu-icon span {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px 0;
  background-color: #33E3FF;
  transition: 0.3s;
  position: relative;
  box-shadow: 0 2px 31px 0 rgba(255, 255, 255, 0.66);
}
.menu-icon span:nth-child(1) {
  width: 50px;
}
.menu-icon span:nth-child(2) {
  width: 30px;
}
.menu-icon.active span:nth-child(1) {
  transform: rotate(0deg) translateY(10px);
}
.menu-icon.active span:nth-child(2) {
  width: 3px;
  height: 30px;
  transform: rotate(90deg) translateX(-20px);
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.overlay .overlay__list {
  margin-top: 28vh;
  gap: 10px;
  padding: 0;
  text-align: center;
  display: grid;
}
.overlay .overlay__list li {
  margin: 20px 0;
}
.overlay .overlay__list li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: var(--font-family);
}
.overlay .overlay__list li a:hover {
  color: #0ecfff;
}
.overlay.active {
  right: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(100px, 10vw, 175px) clamp(50px, 5vw, 100px);
}
.main__content {
  max-width: 600px;
}
.main .circle {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: linear-gradient(80deg, #0ecfff 0%, #69209e 100%);
  background: url("/img/oval.svg") no-repeat center/contain;
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
  right: -65vh;
  top: -20vh;
  left: 56vh;
}
.main__text h1 {
  max-width: 493px;
  font-weight: 900;
  font-size: 56px;
  line-height: 135%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-shadow: 0 4px 37px 0 rgba(255, 255, 255, 0.25);
}
.main__text p {
  max-width: 492px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  letter-spacing: 0.14em;
  margin-bottom: 54px;
}
.main__buttons {
  display: flex;
  gap: 20px;
}
.main__buttons .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 30px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s;
}
.main__buttons .button svg {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  transition: stroke 0.3s;
}
.main__buttons .button.primary {
  max-width: 240px;
  background-color: #24E2FF;
  color: #000;
  border-radius: 0 1px 20px 0;
}
.main__buttons .button.primary:hover {
  background-color: #1CAFD1;
  color: #fff;
}
.main__buttons .button.secondary {
  background: transparent;
  color: #24E2FF;
  border: 2px solid #24E2FF;
}
.main__buttons .button.secondary:hover {
  background-color: #24E2FF;
  color: #000;
}
.main .button.secondary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  background: transparent;
  border: none;
  transition: color 0.3s;
}
.main .button.secondary svg {
  flex-shrink: 0;
  stroke: var(--primary-color);
  transition: stroke 0.3s;
}
.main .button.secondary:hover {
  color: #000;
}
.main .button.secondary:hover svg {
  stroke: #000;
}
.main__info {
  width: 442px;
  height: 136px;
  -webkit-backdrop-filter: blur(15.418847084px);
          backdrop-filter: blur(15.418847084px);
  box-shadow: 0 4px 43px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(119deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 250, 250, 0) 61.65%);
  display: flex;
  gap: 40px;
  margin-top: clamp(50px, 10vw, 100px);
  padding: clamp(20px, 5vw, 45px);
  text-align: center;
  opacity: 1;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main__info.fade-out {
  opacity: 0;
}
.main__info.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.main__info svg {
  position: absolute;
  left: 20px;
}
.main__info:hover {
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(45px);
}
.main__spec p {
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 135%;
  letter-spacing: 0.09em;
  margin-bottom: 7px;
  color: #fff;
}
.main__spec span {
  font-weight: 600;
  font-size: clamp(8px, 2vw + 1rem, 11px);
  line-height: 135%;
  letter-spacing: 0.09em;
  color: #32e3ff;
  transition: color 0.3s ease;
}
.main__spec span:hover {
  color: #28a8cc;
}

.car__image {
  position: relative;
}
.car__image img {
  width: 100%;
  display: block;
  transition: transform ease-in-out;
}
.car__image img:hover {
  transform: scale(1.05);
}

.main__switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 10rem;
  width: 442px;
  height: 136px;
  -webkit-backdrop-filter: blur(15.418847084px);
          backdrop-filter: blur(15.418847084px);
  box-shadow: 0 4px 43px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(119deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 250, 250, 0.07) 94.65%);
}
.main__switcher .switcher__button {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.main__switcher .switcher__button::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 100%;
  background: #fff;
}
.main__switcher .switcher__button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.main__switcher .switcher__button:last-child::after {
  display: none;
}
.main__switcher .switcher__button.active {
  color: #32e3ff;
  font-weight: bold;
}

.main__line {
  margin: -60px;
  margin-bottom: -6px;
  text-align: center;
  margin-right: -41vh;
}

.main__rectangle {
  position: absolute;
  right: 0;
  left: 112vh;
  top: 10px;
}

.main__svg {
  width: 150px;
  height: 150px;
  margin: 20px 0;
}
.main__svg svg {
  width: 100%;
  height: 100%;
}
.main__svg svg path {
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash ease-in-out forwards;
}
.main__svg svg path:hover {
  stroke: #ff6666;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.car__vector {
  position: absolute;
  top: 300px;
  left: 83%;
  transform: translateX(-50%);
  z-index: -1;
  transition: opacity 0.3s ease;
}

.car__image {
  position: relative;
}

.car__image img {
  width: 732px;
  height: 299px;
}

.car__down {
  position: absolute;
  left: auto;
  right: 75px;
  top: 105vh;
}
.car__down h3 {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  color: #31e3ff;
}
.car__down svg {
  margin-left: 25px;
  margin-top: 5px;
}

.animated-icon {
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.car__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(131deg, #29e2ff 0%, #6e6ec9 38.2%, #936efb 50.83%, #7b59dc 59.97%, #1c006c 98.23%);
  mix-blend-mode: overlay;
  z-index: 2;
  pointer-events: none;
}

.car__shadow {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 95%;
  height: 34%;
  background: linear-gradient(131deg, #29e2ff 0%, #6e6ec9 38.2%, #936efb 50.83%, #7b59dc 59.97%, #1c006c 98.23%);
  mix-blend-mode: overlay;
  z-index: 2;
  pointer-events: none;
}

.main__image img {
  max-width: 100%;
  height: auto;
}

.divider {
  position: absolute;
  top: 0;
  bottom: -220px;
  left: 50%;
  width: 1px;
  background-color: #aaa;
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */